.boton-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 13px;
    color: #ffffff;
    background-color: #000000;
    padding: 5px 20px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px -6px;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s background-color;
  }
  
  .boton-logout:hover{
      background-color: #972b2b;
      color: #ffffff;
  }