.tarjeta-preguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tarjeta-header {
  background-color: rgb(233, 199, 11);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.3rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  width: 85rem;
  min-width: 20rem;
}

.tarjeta-header,
.tarjeta-body {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
}

.tarjeta-body {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-direction: column;
  gap: 2rem;
  padding: 0.95rem;
  width: 85rem;
  min-width: 20rem;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radio.selected {
  background-color: #97eea4;
  border: none;
  border-radius: 10px;
  padding: 0.25rem;
}

.radio {
  transition: 0.5s ease-in-out background-color, 0.5s ease-in-out transform;
}

.radio:hover {
  background-color: #bbbbbb;
  border: none;
  border-radius: 10px;
  padding: 0.25rem;
}

.radio.selected:hover {
  background-color: #97eea4;
  border: none;
  border-radius: 10px;
  padding: 0.25rem;
}

.btn-verificar {
    background-color: rgb(134, 134, 134);
    border-radius: 20px;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0.5rem;
    transition: 0.5s ease-in-out background-color, 0.5s ease-in-out color, 0.5s ease-in-out transform;
}

.btn-verificar:hover {
    background-color: goldenrod;
    color: #000;
    transform: scale(1.05);
}