.tarjeta-preguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tarjeta-header {
  background-color: #C07F00;
  border-left: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.3rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  width: 85rem;
  min-width: 20rem;
}

.tarjeta-header,
.tarjeta-body {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
}

.tarjeta-body {
  background-color: #FFF7D4;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-direction: column;
  gap: 2rem;
  padding: 0.95rem;
  width: 85rem;
  min-width: 20rem;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radio.selected {
  background-color: #FFD95A;
  border: none;
  border-radius: 10px;
  padding: 0.25rem;
}

.radio {
  border-radius: 10px;
  transition: 0.5s ease-in-out background-color, 0.5s ease-in-out color,
    0.5s ease-in-out transform;
  padding: 0.25rem;
}

.radio:hover {
  background-color: #706f6f;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 0.25rem;
}

.radio.selected:hover {
  background-color: #FFD95A;
  border: none;
  border-radius: 10px;
  padding: 0.25rem;
}

.btn-verificar {
  background-color: #4C3D3D;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.5rem;
  transition: 0.5s ease-in-out background-color, 0.5s ease-in-out color,
    0.5s ease-in-out transform;
}

.btn-verificar:hover {
  background-color: goldenrod;
  color: #000;
  transform: scale(1.05);
}

.parent-mostrar-resultados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mostrar-resultados {
  font-size: 2rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  width: 50vw;
  animation: tamano-result 7s ease-in-out infinite alternate;
}

@keyframes tamano-result {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

.volver-Perfil {
  background-color: #ffa8a8;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 15px;
  transition: 0.5s ease-in-out color, 0.5s ease-in-out background-color,
    0.5s ease-in-out transform;
  width: 12rem;
}

.volver-Perfil:hover {
  background-color: #762626;
  color: #ffa8a8;
  transform: scale(1.05);
}

.page-quiz {
  height: 100vh;
}

.page-quiz::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 100%;
  top: 60%;
  left: 50%;
  background-color: #C07F00;
  border-radius: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  z-index: -1;
}
